@model WestcoastEducation.Web.ViewModels.Users.UserListViewModel

@{
    Layout = "_LayoutAdmin";
    string userType = Model.IsATeacher ? "Lärare" : "Student";
}

<article class="page">
    <h1 class="page-title">Mer info</h1>
    <h2>Hej! @Model.CompleteName</h2>
    <h3 class="user-type">@userType</h3>
    <ul>
        <li><b>Användarnamn: @Model.UserName</b></li>

        <li>Förnamn: @Model.FirstName</li>
        <li>Efternamn: @Model.LastName</li>
        <li>E-Post: @Model.Email</li>
        <li>Personnummer: @Model.SocialSecurityNumber</li>
        <li>Gatuadress: @Model.StreetAddress</li>
        <li>Postkod: @Model.PostalCode</li>
        <li>Telefon: @Model.Phone</li>
    </ul>
</article>