@model WestcoastEducation.Web.ViewModels.Users.StudentDetailsViewModel

@{
    Layout = "_LayoutAdmin";
    string userType = "Student";
}

<article class="page">
    <h1 class="page-title">Mer info</h1>
    <h3 class="user-type">@userType</h3>
    <ul>
        <li class="user-details">
            <h4>ID: @Model.Id</h4>
            <div>Namn: @Model.Name</div>
            <div>E-Post: @Model.Email</div>
        </li>
        <li class="user-details">
            <h4>Antagen på följande kurs: </h4>
            @Model.Course
        </li>
    </ul>
</article>