@model IList<WestcoastEducation.Web.ViewModels.Classrooms.ClassroomListViewModel>

@{
    ViewBag.PageTitle = "Handle Courses";
    Layout = "_LayoutAdmin";
}

<section class="page">
    <h1 class="page-title">Utbildnings administrering</h1>
    <div class="table-container">
        <div>
            <button>
                <a asp-action="create" asp-controller="ClassroomAdmin"> Lägg till kurs</a>
            </button>
        </div>
        <table>
            <thead>
                <tr>
                    <th></th>
                    <th>KursID</th>
                    <th>Kursnummer</th>
                    <th>Kursnamn</th>
                    <th>Kurstitel</th>
                    <th>Startdatum</th>
                    <th>Slutdatum</th>
                    <th>Kurslängd</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var classroom in Model)
                {
                    <tr>
                        <td>
                            <a class="edit-icon" asp-action="Edit" asp-controller="ClassroomAdmin"
                            asp-route-classroomId=@classroom.Id>
                                <i class="fa-regular fa-pen-to-square"></i>
                            </a>
                        </td>

                        <td>@classroom.Id</td>
                        <td>@classroom.Number</td>
                        <td>@classroom.Name</td>
                        <td>@classroom.Title</td>
                        <td>@classroom.Start.ToString("yyyy-MM-dd")</td>
                        <td>@classroom.End.ToString("yyyy-MM-dd")</td>
                        <td>@classroom.Length.ToString("dd") dagar</td>

                        <td>
                            <a class="delete-icon" asp-action="Delete" asp-controller="ClassroomAdmin"
                            asp-route-classroomId=@classroom.Id>
                                <i class="fa-solid fa-trash-can"></i></a>
                        </td>
                    </tr>
                }
            </tbody>
            <tfoot>
                <tr>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                </tr>
            </tfoot>

        </table>
    </div>
</section>